# Nix 
result
result-*

# SSH & PEM 
*.pem 
*.key
key_github_irwan
id_nixos
id_nixos.pub

# Credentials
.aws/
credentials

# Agenix
!secrets/
!secrets/*.age
!secrets/secrets.nix
secrets.nix
.aider*

# Graphify
graphify-out

# Python
__pycache__
